.body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container-blog {
    width: 100%;
    height: 350px;
    padding: 2rem;
    background: green;
    display: flex;
    align-items: center;
}
.about-us {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   gap: 20px;
}
.about-us-text {
    padding: 20px;
}

.about-us-text > h2 {
    margin-bottom: 10px;
}
.about-us-text > p {
    margin-bottom: 20px;
}
.text-txt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.feature {
    display: flex;
    flex-direction: column;
}
.feature i {
    margin-bottom: 10px;
    font-size: 48px;
}
.feature h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.feature p {
    font-size: 14px;
    color: #777;
}
.about-us-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 40px;
    position: relative;
    object-fit: cover;
}
.about-us-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
